body {
	font-size: 20px;
	color: #000;

	
	
}	
div{
	border: 1px #000 dashed;
	margin: 1px;
}
#bg{
	border-top: 1px solid #444;
	background: url(../img/header.gif) center top repeat-x #040404;

}
/*logo*/
.logo{

	background: url( ../img/logo-bg.png) no-repeat 0% 0%;
	min-height: 100px;
	width:100%;
	
}

.logo h1{
	background: none;
	height: auto;
	margin: 0;
	padding: 0;
	letter-spacing: -2px;
	line-height: 1.2em;
	font-family: 'Open Sans',sans-serif;
	font-size: 50px;
	font-weight: 800;
	text-transform: capitalize;
	color: #fff;
}


.contenedorMenuCab,.contenedorBuscador{
	height: 48px;
	
	
}
.contenedorMenuGenero{
	height: 400px;
}
.contenedorSlider{
	height: 400px;
	
}
.masVendidos,.contenedor{
	border:none;
}
.contenedorItem{
	margin-top: 15px;
	margin-bottom: 8px;
	height: 200px;
}
.algo{
	height: 150px;
	padding-right: 8px;
}
.footer{
	margin-top: 9px;
	height: 80px;
	padding-right: 8px;
}
