body {

	font: 12px/16px Arial, Helvetica, sans-serif;
	color: #60605f;
	margin: 0px;
	
	
}	
div{
	border: 1px transparent dashed;

}
a,a:hover,a:visited{
	outline: none;
	color: #fff;
	text-decoration: none;
}

input, textarea, select {
	   border: 1px solid #111;
	   padding: 0.5em;
	   font-size: 15px;
     line-height: 1.2em;
     width: 80%;
     background: #444;
     color: #fff;
     font-family: helvetica, sans-serif;
     background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#444));
     -webkit-appearance: none;
 	   -webkit-box-shadow: 1px 1px 1px #333;
	 }
 input:focus, textarea:focus, select:focus {outline-color: #c00;}


 
/*
 * cabecera
 * */
#bg{
	border-top: 3px solid rgb(129, 129, 129);;
	background: url(../img/header.gif) center top repeat-x #040404;
	padding: 0px 0 7px;
	border-bottom: 6px solid rgb(129, 129, 129);;
}
/*logo*/
.logo{

	background: url( ../img/logo.png) no-repeat left center;
	min-height: 100px;
	width:100%;
	margin: 0 auto;
}




.contenedorMenuCab,.contenedorBuscador{
	height: 48px;	
	font-size:14px;
	color: #fff;
	
}
.contenedorMenuCab a{
	font-weight:bold;
	color: #ff742f;

	
}
.contenedorMenuCab .registro{
	display: block;
	padding-top: 20px;
	float: right;
}

.contenedorBuscador .buscar{
	float: right;
}

 input[type="text"]{
	padding: 9px 20px 9px;
	border-color: transparent;
	border-radius: 2px;
	font-size: 15px;
	font-weight: bold;
	color: #b7b7b7;
	margin: 0;
	outline: none;
	width:100%;
	background: #383838 url('http://tinywall.info/demos/fancy-search-box-form-html-css-css3/search-zoom-icon.png') no-repeat center right;
}


#navCabecera{
	float: right;
	position: relative;
	padding-top: 11px;
}

#navCabecera ul{
	margin: 0px;
	display: block;
	padding: 0;	
}
#navCabecera li{
	display: block;
	list-style: none;
	float: left;
	position: relative;
	margin-left: 25px;
}
#navCabecera ul li:first-child{
	margin-left: 0px !important;

}
#navCabecera a{
	color: #ff;
	text-decoration: none;
	font: bold 21px/24px Helvetica, sans-serif;
}

#navCabecera a.seleccionado,#navCabecera a:hover{
	color: #fd4f0d;
	font-size: 21.5px;
}






#slideshow{width:1920px; height:700px; overflow:hidden; position:relative;}  
#slideshow li{width:960px; height:350px; float:left; display:inline;}  
.contenedorMenuGenero{
	height: 400px;
}
#ContenedorSlide{
	height: 400px;
	background:#131310;
	overflow:hidden; 
	position:relative; 
	margin:10px auto 10px auto;
}
#ContenedorSlide .slide{
	clear: both;
	width: 960px;
	height: 350px;
	background: #131310;
	overflow: hidden;
	position: relative;
	margin: 10px auto 10px auto;
}


#topVentas{
	
}
#topVentas h3{
	margin-bottom: 20px;
	font: 700 35px/42px  helvetica, sans-serif;;
	color: #fd500f;
	text-transform: uppercase;
	vertical-align: baseline;
	border-bottom: 3px solid #484848;
	padding-bottom: 3px;
}
#topVentas h3 span{
	display: inline-block;
	font: normal 24px/29px  Helvetica, sans-serif;
	color: #383838;
	vertical-align: bottom;
	text-transform: none;
	vertical-align: baseline;
}
.contenedorTop10{
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
	
}
.imgTop {
	padding: 0;
	margin: 0;
}
.imgTop img{
	border-radius:5px;
	width:70px;
	height: 50px;
	margin-top: 6px;
}
.textoTop h6{
	font: bold 18px/22px Helvetica, sans-serif;
	color: rgb(133, 123, 123);
	margin-bottom: 4px;
	margin-top:3px;
}
.textoTop P{
	margin-bottom:12px;
	font-size: 13px;
	text-align: justify;
}
.textoTop a{
	margin-right:2px;
	display: inline-block;
	cursor: pointer;
	font: 700 17px/22px Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	padding: 2px 15px;
	background: #fd500f;
	border-radius: 4px;
}


.masVendidos,.contenedor{
	border:none;
}
.contenedorItem{
	margin-top: 15px;
	margin-bottom: 8px;
	height: 200px;
}
.algo{
	height: 150px;
	padding-right: 8px;
}
.footer{
	margin-top: 9px;
	height: 80px;
	padding-right: 8px;
}
